@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: #f3f4f6;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] border-gray-300 rounded p-2 focus:outline-none focus:border-gray-500 my-2;
  }

  .btn-primary {
    @apply w-full my-2 bg-blue-500 text-white px-4 py-2 rounded-lg text-sm font-semibold;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-blue-400;
  }

  .input-label {
    @apply text-sm text-slate-400;
  }
}
